<%- include ('partials/header.ejs') %>
<body class="principal">
    <%- include ('partials/navbar.ejs') %>
    <div class="container p-4">
        <div class="card card-style">
            <div class="card-header">
                <h3 class="titulo">Cadastro de mercados</h3>
            </div>
            <hr>
            <div class="card-body">
                <form method="post" action="/submitMercado" enctype ="multipart/form-data" >
                    <label for="" class="label">Nome do mercado</label>
                    <input name="nome" type="text" class="form-control input-title" placeholder="Nome"  required>
                    <br>
                    <input name="img" type="file" class="form-control input-file" required>Adionar ficheiro</input>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-success">&crarr; Cadastrar</button>
                    <a class="btn btn-success" href="/">&larr; Voltar</a>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>