<%- include ('partials/header.ejs') %>
<body class="principal">
    <div class="container p-4">
        <div class="card card-style">
            <div class="card-header">
                <h3 class="titulo">Cadastro de Produtos</h3>
            </div>
            <hr>
            <div class="card-body">
                <form method="post" action="/submitProdutos" enctype ="multipart/form-data" >
                    <label for="" class="label">Nome do produto</label>
                    <input name="nome" type="text" class="form-control input-title" placeholder="Nome"  required>
                    <br>
                    <input name="imgProd" type="file" class="form-control input-file">Adionar ficheiro</input>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-success">&crarr; Cadastrar</button>
                    <a class="btn btn-success" href="/">&larr; Voltar</a>
                </form>
            </div>
        </div>                                                     
    </div>
</body>
<%- include ('partials/footer.ejs') %>