<%- include ('partials/header.ejs') %>
<body class="principal">
    <div class="container">
        <div style="display: flex;">
            <h1>Estamos em obras...</h1>
        </div>
        <a class="btn btn-success" href="/">&larr; Voltar</a> 
    </div>
</body>
<%- include ('partials/footer.ejs') %>